<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>个人信息</title>
<link rel="stylesheet" href="/common/css/base.css">
<link rel="stylesheet" href="/account/profile.css">
</head>
<body>
<div class="container">
	<%- include('../widgets/header') -%>
	<div class="content">
		<form target="upload-iframe" class="uploadFile" action="/account/uploadPicture.json" method="POST" enctype="multipart/form-data">
			<label class="head_pic"><img id="portrait_image" src="<%= session.user.picture %>" alt="" width="96" height="96"><input type="file" name="headPic"></label>
		</form>
		<form action="/settings.html" method="POST">
			<input type="text" name="user" value="<%= session.user.name %>">
			<input type="submit" value="保存">
		</form>
	</div>
</div>
<iframe name="upload-iframe" frameborder="0" style="display: none;"></iframe>
<script src="/node_modules/jquery/dist/jquery.min.js"></script>
<script>

	$('[name="upload-iframe"]').off('load');
	$('[name="upload-iframe"]').on('load', function() {
        var res = JSON.parse($(this).contents().find('pre').html());
        $('#portrait_image').attr('src', res.result.picture);
	});
	$('[type="file"]')[0].addEventListener('change', function(event) {
		$('.uploadFile').submit();
	})


</script>
</body>
</html>