<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>登录</title>
<link rel="stylesheet" href="../common/style/base.css">
<link rel="stylesheet" href="../passport/style/register.css">
</head>
<body>
<div class="container">
	<%- include('../common/widgets/header') -%>
	<h1>登录</h1>
	<form action="/" method="POST">
		<input type="text" name="user" placeholder="请输入用户名">
		<input type="password" name="password" placeholder="请输入密码">
		<input type="submit" value="登录">
	</form>
</div>
</body>
</html>