<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>注册</title>
<link rel="stylesheet" href="/common/css/base.css">
<link rel="stylesheet" href="/passport/register.css">
</head>
<body>
<div class="container">
	<nav>
		<a href="/">首页</a>
	</nav>
	<h1>注册</h1>
	<form>
		<input type="text" name="user" placeholder="请输入用户名">
		<input type="password" name="password" placeholder="请输入密码">
		<input type="password" name="repassword" placeholder="请确认密码">
		<input type="submit" value="注册">
		<p>已有账号，<a href="/passport/login.html">直接登录</a></p>
	</form>
</div>
<script src="/node_modules/jquery/dist/jquery.min.js"></script>
<script>
	$('form').on('submit', function() {
		$.ajax({
			url: '/passport/register.html',
			type: 'POST',
			data: {
				user: $('[name="user"]').val(),
				password: $('[name="password"]').val(),
				repassword: $('[name="repassword"]').val()
			},
			dataType: 'json',
			success: function(data) {
				if(data.status === 1){
					location.href = data.result.url;
				}else{
					$('.error').remove();
					$('[type="submit"]').before('<p class="error">' + data.message + '</p>')
				}
			}
		})
		event.preventDefault();
	})
</script>
</body>
</html>