@charset "UTF-8";
/**
 * 
 * @authors ice
 * @date    2017-02-08 11:38:12
 */
.publish_btn{
    display: block;
    width: 140px;
    text-align: center;
    padding: 10px 0;
    margin: 10px auto;
    font-size: 16px;
    color: #fff;
    background-color: #4343ff;
    border-radius: 3px;
}
.publish_btn:hover{
    background-color: #00f;
    color: #fff;
}
.blog_list > li {
    box-sizing: border-box;
    width: 585px;
    height: 130px;
    padding: 12px;
    float: left;
    background-color: #f9f9f9;
    border: 1px solid #d9d9d9;
}
.blog_list > li:nth-child(even){
    margin-left: 30px;
}
.blog_list > li:nth-child(n+3){
    margin-top: 30px;
}
h3{
    margin: 0 0 6px;
}
h3 a{
    font-size: 18px;
    font-weight: bold;
    text-decoration: underline;
}
.blog_panel p{
    line-height: 22px;
}
.blog_data {
    font-size: 12px;
    margin-top: 8px;
    text-align: right;
}
